/* ================= css/hero.css ================= */

/* estilos de la sección de presentación */
.hero{
    padding:6rem 1rem;
    background:linear-gradient(160deg,var(--panel),#1f0909);
}

/* estilos del encabezado */
.hero h1{
    font-size:2.5rem;
    margin-bottom:1rem;
}

/* estilos del texto destacado */
.lead{
    font-size:1.2rem;
    color:var(--muted);
    margin-bottom:2rem;
}

/* estilos del botón de HABILIDADES */
.hero-cta .boton{
    margin:.5rem;
    transition:transform var(--transition);
}

/* estilos del botón de PROYECTOS */
.hero-cta .boton:hover{
    transform:scale(1.05);
}

/* responsivo */
@media (max-width:50rem){
    .hero h1{
    font-size:2rem;
}
}