/* ================= css/projects.css ================= */

/* estilos de la sección de proyectos */
.projects{
    background:var(--bg);
}

/* estilos de los encabezados de proyectos */
.projects h2{
    font-size:2rem;
    margin-bottom:1rem;
}

/* estilos de la cuadrícula de proyectos */
.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(16rem,1fr));
    gap:var(--gap);
    margin-top:2rem;
}

/* estilos de los elementos del proyecto */
.project-item{
    position:relative;
    display:block;
    overflow:hidden;
    border-radius:var(--radius);
}

/* estilos de las imágenes del proyecto */
.project-item img{
    display:block;
    width:100%;
    height:auto;
    transition:transform var(--transition);
}

/* estilos de la superposición del proyecto */
.project-item .overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.6);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:opacity var(--transition);
    color:#fff;
}

/* estilos del efecto hover en la imagen del proyecto */
.project-item:hover img{
    transform:scale(1.05);
}

/* estilos de la superposición del proyecto */
.project-item:hover .overlay{
    opacity:1;
}

/* estilos de los nombres de proyectos */
.cat{
    font-size:.8rem;
    text-transform:uppercase;
    color:var(--accent-2);
}

/* responsivo */
@media (max-width:50rem){
    .projects-grid{
    grid-template-columns:1fr;
}
}